/*Color Palette
Green: #1FDA9A
Blue: #28ABFF
Cream: #F7EAC8
Yellow: #E8B71A
RED: #DB1530*/

body, html {
  /*background-image: url('https://media.giphy.com/media/ReayYep6P8fm/giphy.gif');*/
  /*background-image: url('http://i682.photobucket.com/albums/vv182/nmrihmod/ColorBars_SotaFinal_256x256.gif');
  background-size: cover;*/
  height: 100%;
  border: 10px solid black;
  background-color: black;
  /*border-radius: 50px;*/
}

div.gifBackground {
  background-image: url('http://i682.photobucket.com/albums/vv182/nmrihmod/ColorBars_SotaFinal_256x256.gif');
  background-size: cover;
  height: 100%;
  /*background-color: rgba(0, 0, 0, .5);
  background-size: cover;*/
  /*border: 25px solid black;*/
  /*border: 5px solid rgba(255, 255, 255, 0.1);*/
  /*border-radius: 60px; -moz-border-radius: 60px; -webkit-border-radius: 60px;*/
  border-radius: 50px;
  color: #ffffff;
}

/*div.gifBackground h1 {
    font-weight: bold;
    color: #ffffff;
}

div.gifBackground p {
    font-weight: bold;
    color: #ffffff;
}*/

#banner {
  margin-top: 5%;
}
/*
.shade {
  background-color: black;
  height: 100%;
  background-size: cover;
  border-radius: 50px;
}*/

/* basic styles */
.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.gameTile {
  /*border-radius: 100%;*/
  display: inline-block;
  background-color: gray;
  margin: 20px;
  width: 50px;
  height: 50px;
}

.playTile {
  /*border-radius: 100%;*/
  display: inline-block;
  margin: 20px;
  width: 50px;
  height: 50px;
}

#pTile1 {
  background-color: #1FDA9A;
}

#pTile2 {
  background-color: #28ABFF;
}

#pTile3 {
  background-color: #F7EAC8;
}

#pTile4 {
  background-color:  #E8B71A;
}

#pTile5 {
  background-color: #DB1530;
}
