/*Color Palette
Green: #1FDA9A
Blue: #28ABFF
Cream: #F7EAC8
Yellow: #E8B71A
RED: #DB1530*/

body, html {
  height: 100%;
  /*border: 15px solid black;*/
  background-color: black;
  background-image: url('http://cuzimage.com/images/wood-grain-clip-art-clipart-and-vector-collection.jpg');

}

div.gifBackground {
  /*background-image: url('http://i682.photobucket.com/albums/vv182/nmrihmod/ColorBars_SotaFinal_256x256.gif');*/
  /*background-image: url('http://cuzimage.com/images/wood-grain-clip-art-clipart-and-vector-collection.jpg');*/
  background-size: cover;
  background-color: black;
  height: 100%;
  /*border-radius: 60px; -moz-border-radius: 60px; -webkit-border-radius: 60px;*/
  /*border-radius: 50px;*/
  border-radius: 55% / 10%;
  border-radius: 10% / 55%;

  margin-top: 10px;
  margin-bottom: 10px;

  color: #ffffff;
  border: 2px dotted white;
}

div.gifBackground h1 {
  /*margin-top: 5%;*/
  /*padding-bottom: 15px;*/
}

div.gifBackground h5 {
  background-color: gray;
  color: white;
  padding: 10px;
}

.content {
  /*background-color: black;*/
  margin-top: 15%;
  /*border-right: 2px dotted yellow;
  border-left: 2px dotted yellow;
  border-top: 2px solid blue;
  border-bottom: 2px solid purple;*/
  /*border-radius: 20px;*/
  padding: 30px;
  /*opacity: 0.5*/

}

.container .container {
    margin-left: -17px;
    margin-right: -15px;
    /*margin-top: 5%;*/
}


/*@keyframes animateBorder {
  to {
    outline-color: #EA3556;
    box-shadow: 0 0 0 2px yellow;
  }
}*/


.startButton{
  outline: 6px dashed yellow;
  box-shadow: 0 0 0 2px #EA3556;
  /*animation: 1s animateBorder infinite;*/
}

.instructions {
  outline: 6px dashed yellow;
  box-shadow: 0 0 0 20px #EA3556;
  /*animation: 1s animateBorder infinite;*/

}

.instructions:hover{
    outline-color: #3CFDD3;
    box-shadow: 0 0 0 20px #006DB5;
}

.gameTile {
  display: inline-block;
  background-color: gray;
  margin: 20px;
  max-width: 100px;
  max-height: 100px;
  min-width: 60px;
  min-height: 60px;
}

.playTile {
  display: inline-block;
  margin: 20px;
  max-width: 100px;
  max-height: 100px;
  min-width: 60px;
  min-height: 60px;
}

#pTile1 {
  background-color: #1FDA9A;
}

#pTile2 {
  background-color: #28ABFF;
}

#pTile3 {
  background-color: #F7EAC8;
}

#pTile4 {
  background-color:  #E8B71A;
}

#pTile5 {
  background-color: #DB1530;
}

/*///// basic styles ///// */
.center {
  text-align: center;
}

.justify {
  text-align: justify;
}
